body{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
body>div:nth-child(1){
    margin: 10px;
   height: 30vh;
   aspect-ratio: 1/1;
    background-color: yellow;
    width: 30vh;
    aspect-ratio: 1/1 ;  
    transition: 1s ease-in; 
}
body>div:nth-child(2){
    
    height: 30vh;
    aspect-ratio: 1/1;
     background-color: rgb(215, 27, 240);
     width: 30vh;
     aspect-ratio: 1/1 ;  
     transition: 1s ease-in-out; 
 }
 body>div:nth-child(1):hover{
    transform: rotate(45deg);
 }
 body>div:nth-child(2):hover{
    transform:skew(45deg);
 }
 div:nth-child(3){
    display: flex;
    width: 100%;
    aspect-ratio: 1/1;
    
   
 }
div:nth-child(3)>div:nth-child(1){
    height: 50px;
    aspect-ratio: 1/1;
    background-color: white;
    
}