body{
    /* display: flex; */
}
.d1{
   /* display: flex; */
   /* justify-content: space-around; */
   /* border: solid 10px red; */
   /* position: relative; */
   
   left:100px; 
    height: 500px;
    width: 500px;
    background-color: rgb(235, 213, 19);
    /* justify-content: center; */
    /* align-items: center; */
    /* justify-content:space-evenly; */
    /* align-items: stretch; */
    /* align-content: flex-start; */
    /* flex-wrap: wrap; */
    /* for content possision  */
    /* position: absolute;
    top: 10px; */
    /* align-content: flex-end; */

}
 .d2{
   
   /* position: relative;  */
   /* top: 0px; */
   margin: 10px;
    height: 100px;
    width: 100px;
    background-color: blue;
}
.d3{
    
    background-color: rgb(223, 16, 68);
    height: 100px;
    width: 100px;
}
