body{
    display: flex;
    margin: 0px;
}
.head{
    display: flex;
    background-color:#ffffff;
    position: relative;
    top: 0px;
    height: 14vh;
    width: 100%;
}

.head1{
    position: absolute;
    height: 100px;
    width: 100px;
}
.pic1{
    left: 68px;
    position: absolute;
    top: 17px;
    height: 58px;
    width: 180px;
    
}
.c0{
    position: absolute;
    font-size: 16px;
    left: 52vh;
    top: 35px;

}
.c1{
    position: absolute;
    font-size: 16px;
    
    /* height: 20px;
    width: 200px; */
    top: 35px;
    left: 83vh;
}
.c2{
    position: absolute;
    font-size: 16px;
    
    /* height: 20px;
    width: 200px; */
    top: 35px;
    right: 74vh;

}
.c3{
    position: absolute;
    font-size: 16px;
/*     
    height: 20px;
    width: 200px; */
    top: 35px;
    right: 370px;

}
.c4{
    position: absolute;
    font-size: 16px;
    
    /* height: 20px;
    width: 200px; */
    top: 35px;
    right: 280px;

}
.btn{
    position: absolute;
    height: 40px;
    width: 110px;
    background-color:#00baf2;
    top: 25px;
    right: 80px;
    border-radius: 50vh;
    font-size: 15px;
    text-align: left;
    /* text-decoration-color: white; */
}
.usrimg{
    position: absolute;
    top: 3px;
    right: 0px;
    height: 30px;
    width: 30px;
}
.kyc{
    position: absolute;
    height: 50px;
    width: 100%;
    background-color: #f4f4f4;
    top: 91px;
}
.kyctxt{
    position: absolute;
    top: 20px;
    left: 430px;
    font-size: 15px;
    
}
.body{
    position: absolute;
    top: 140px;
    height:100vh;
    width: 100%;
    background-color: #ffffff;
}
.slogo{
    position: absolute;
    height: 78px;
    aspect-ratio: 1/1;
    top: 130px;
    left: 80px;
}
.sign::first-line{
    color: white;
    
    
}
.sign{
    position: absolute;
    left: 20px;
    top: 10px;
}
.phone{
    position: absolute;
    bottom: 500px;
    right: 0px;
    top: 110px;

}
.phonepic{
    position: absolute;
    height: 500px;
    width: 528px;
    right: 0px;
    /* bottom: 0px; */
    top: 0px;
}
.india{
    position: absolute;
    top: 225px;
    left: 80px;
}
.hind{
    position: relative;
    font-size: 54px;
    font-weight: 700;
    line-height: 65px;
    font-family: Arial, Helvetica, sans-serif;
}
.pd{
    position: absolute;
    top: 380px;
    left: 80px;
    width: 100px;

}
.para{
    position: relative;
    width: 450px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn2{
    position: absolute;
    height: 50px;
    width: 250px;
    background-color:black  ;
    top: 550px;
    left: 80px;
    border-radius: 50vh;
    font-size: 15px;
    text-align: left;
    

}
.btn2:hover{
    background-color: white;
    
}

.bt{
    margin: 15px;
    color: white;
}
/* .btncls{
    position: absolute;
    background-color: red;
    height: 60px;
    width: 80px;

} */